body::before {
  display: block;
  content: "";
  height: 60px;
}

#banner-name {
  font-size: 90px;
}

#services h1,
#portfolio h1,
#contact h1,
#about h1 {
  padding-top: 50px;
}

#workpills-tab,
#Eworkpills-tab {
  margin-top: 20px;
}

#workpills-tab li,
#pills-tab li,
#Eworkpills-tab li {
  border: 1px solid #c8c8c8;
  margin: 1px;
  border-radius: 10%;
}

.screen {
  display: block;
  /* width: 300px; */
  height: 600px;
  overflow: hidden;
  position: relative;
  border: 1px solid #e4e4e4;
  border-radius: 1px;
  margin: 0 auto;
}
/* .screen img {
  bottom: -1218px;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: top 11s;
  -moz-transition: top 11s;
  -ms-transition: top 11s;
  -o-transition: top 11s;
  transition: bottom 11s;
}
.screen:hover img {
  bottom: 0;
  -webkit-transition: all 11s;
  -moz-transition: all 11s;
  -ms-transition: all 11s;
  -o-transition: all 11s;
  transition: all 11s;
} */

input,
textarea {
  margin-bottom: 15px;
}

.form-control,
.form-control:focus {
  background: #fff0;
  color: #fff;
}

.form-control:focus {
  color: #fff;
}

/** LIGHTBOX MARKUP **/

.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);

  width: auto; /* set arbitrary dimensions */
  height: auto;
  overflow: scroll; /* causes .lightbox to be scrollable if children overflow it */
}

.lightbox img {
  max-width: none; /* max-width: 90%; <---- don't set this (otherwise image will never overflow parent)*/
  margin-top: 4%;
  overflow-y: visible; /* overflow-y: scroll; <---- don't set this (images can't contain anythying, so nothing can overflow from them*/
  height: auto; /* height: 100%; <---- don't set this (otherwise image will never overflow parent)*/
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
  outline: none;
}

/* .lightbox span { */
/* Full width and height */
/* display: block;
  width: 100%;
  height: 100%; */

/* Size and position background image */
/* background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
} */
